body {
    background-color: black;
    color: white;
}
.botaoenvio{
    background-color: green;
}
.botaoapagar {
    background-color: red;
}

*{
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

form button {
    width: 100%;
    margin-top: 5px;
}

form label {
    margin-top: 5px;
}